$color-primary: #3399CC;
$color-secondary: #333366;
$color-thirdparty: #FF6633;
$color-quaternary: #B1F4FF;
$color-white: #FFFFFF;

$font-h1: 70px;
$font-h2: 30px;

$social-media-icons: 40px;

$btn-radius: 20px;